body {
	font-family: trebuchet ms;
}
.header {
	height: 220px;
	width: 100%;
	z-index: 2;
	border-bottom: 5px solid #F1C40F;
}
#web-name {
	font-size: 98px;
	font-family: freestyle script;
}
#logo {
	float: left;
	margin-top: 20px;
}
.logo {
	height: 150px;
	width: 100%;
}
* {
	margin: 0px;
	padding: 0px;
}
#container ul {
	list-style: none;
}
#container ul li a {
	text-decoration: none;
	color: black;
}
#container ul li a:hover {
	color: #F1C40F;
	transition: 0.3s;
}
#container ul ul li {
	color: black;
	line-height: 30px;
	background-color: white;
	z-index: 2;
}
#container ul ul li:hover {
	color: #F1C40F;
	transition: 0.1s;
	z-index: 2;
}
#container ul li {
	width: 180px;
	height: 30px;
	line-height: 70px;
	text-align: center;
	float: left; 	
	font-size: 18px;
	color: black;
	z-index: 2;
}
#container ul ul {
	display: none;
}
#container ul li:hover > ul {
	display: block;
	transition: 0.1s;
	z-index: 2;
}
#container ul li:hover {
	color: #F1C40F;
	transition: 0.3s;
	z-index: 2;
}
.showcase {
	border: 1px solid #3f3f3f;
	height: 250vh;
	width: 100%;
}
.bg-img {
	background-image: url("../image/slide-4.jpg");
	height: 500px;
	width: 100%;
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	border-bottom: 10px solid #F1C40F;
}
.t {
	border-top: 10px solid #F1C40F;
	background-color: black;
	height: 200px;
	width: 580px;
	margin-top: 200px;
	float: right;
	opacity: 0.5;
	position: relative;
}
.dp {
	color: white;
	float: left;
	margin-left: 800px;
	margin-top: 230px;
	margin-right: 20px;
	position: absolute;
}
.bg-img2 {
	margin-top: 20px;
	float: right;
	margin-bottom: 40px;
}
.dp2 {
	margin-left: 130px;
	margin-top: 140px;
	margin-right: 750px;
}
.bg-img3 {
	float: left;
	margin-top: 40px;
}
.shop-now {
	margin-top: 490px;
	border-top: 10px solid #F1C40F;
	height: 400px;
	width: 100%;
}
.shop-now-btn {
	margin-left: 680px;
	margin-top: 50px;
	position: absolute;
}
#shop-now {
	float: right;
	position: relative;
}
#shop-now-btn {
	position: absolute;
	z-index: 2;
	margin-top: 30px;
	margin-left: 200px;
	text-decoration: none;
	color: black;
	padding: 10px;
	font-size: 25px;
	width: 140px;
	text-align: center;
	background-color: #F1C40F;
	border: 1px solid #F1C40F;
}
#shop-now-btn:hover {
	background-color: white;
	color: black;
	transition: 0.3s;
}
.footer {
	background-color: #F1C40F;
}